.MainSlide-container {
    display: flex;
    justify-content: center;
}

.MainSlide-text p {
    padding: 20px 10% 0 10%;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
}

.my-paragraph {
    background: linear-gradient(45deg, #f3ec78, #af4261, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .my-paragraphs {
    background: linear-gradient(45deg, #5ac0b8, #0c1a9c, #6268a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
