.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

/** LOGIN LEFT  */

.logImCo {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;

    background-image: radial-gradient(#1e8fffa4, #1e90ff, #1e8fffa4);
}

/* IMG NewMember and Sign Up container */

.imCoTop {
    display: flex;
    justify-content: center;
}

.coTopNeMember {
    color: white;
    padding-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.coTopSignUp {
    width: 100px;
    height: 30px;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;

    background: #4652ff;
    border-radius: 3px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imCoImages {
}

.coTop2:hover {
    background: #4652ff8e;
}

/* RIGHT  */

.login {
    display: flex;
    flex-direction: column;

    background-color: white;

    width: 100%;
}

.loginLogo {
    width: 100%;
    height: 60px;

    padding-bottom: 30px;
}
.loginLogo-A {
    font-size: 50px;
    text-decoration: none;
}

/* LOGIN INPUT */

.loginyourAccount {
    width: 100%;
    height: 40px;
}

.loginyourAccount-text {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

/* Login Input */

.loginInput {
    width: 600px;
    height: 50px;

    border-radius: 7px;
    margin-bottom: 25px;

    font-size: 18px;
    padding-left: 25px;
}

.loginInput::placeholder {
    font-size: 16px;
}

.lrlis {
    display: flex;
}

/* RESET PASSWORD */

.resetPw-a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
}

.resetPw-a:hover {
    color: orange;
}

/* LOGIN BUTTON */

.login-buttons {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
}

.loginButton {
    margin: 5px;
}

.register-page-Button {
    width: 150px;
    height: 50px;
    border-radius: 6px 1px;
    margin-right: 50px;

    background-color: #1e90ff;
    color: #f2f2f2;
    font-size: 16px;
}

.register-page-Button:hover {
    background: #f2f2f2;
    color: #1e90ff;
    border: #f2f2f2 1px;
    font-size: 18px;
}

/* BR BR BR BR BR BR BR */

.line {
    display: flex;
    align-items: center;
}

.line-div1 {
    border-top: 1px solid black;
    width: 300px;
}

.line-or {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
}

/* SOCIAL MEDIA LOGIN */

.social-login {
    margin-top: 20px;
    display: flex;
}

.social-login-div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 50px;
    border-radius: 5px 1px;
    margin-right: 50px;

    background-color: #f2f2f2;
    border: 1px solid #1e90ff;

    font-size: 20px;
}

.social-login-div:hover {
    background: #1e90ff;
    color: #f2f2f2;
}

.social-login-icon {
    font-size: 30px;
    padding-right: 20px;
}
