.log-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

/** LOGIN LEFT  */

.log-l {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 100px;

    background-image: radial-gradient(#1e8fffa4, #1e90ff, #1e8fffa4);
}

/* LEFT TOP */

.log-l-top {
    display: flex;
    justify-content: center;
}

.log-l-top-1 {
    color: white;
    padding-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.log-l-top-2 {
    width: 100px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;

    background: #4652ff;
    border-radius: 3px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.log-l-top-2:hover {
    background: #4652ff8e;
}

/* RIGHT  */

.log-r {
    display: flex;
    flex-direction: column;

    background-color: white;

    width: 100%;
}

.log-r-log {
    text-decoration: none;

    width: 100%;
    height: 60px;

    font-size: 50px;
}

/* LOGIN INPUT */

.log-r-t {
    text-decoration: none;

    width: 100%;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.log-input {
    width: 600px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 25px;

    font-size: 18px;
    padding-left: 25px;
}

.log-input::placeholder {
    font-size: 16px;
}

.lrlis {
    display: flex;
}

/* RESET PASSWORD */

.log-r-res-pw {
    text-decoration: none;
    color: black;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

/* LOGIN BUTTON */

.lrlis {
    margin-top: 30px;
    margin-bottom: 30px;
}

.lrlis-button {
    width: 150px;
    height: 50px;
    border-radius: 7px 1px;
    margin-right: 50px;

    background-color: #1e90ff;
    color: #f2f2f2;
    font-size: 16px;
}

.lrlis-button:hover {
    background: #f2f2f2;
    color: #1e90ff;
    border: #f2f2f2 1px;
    font-size: 18px;
}

/* BR BR BR BR BR BR BR */

.lglbr {
    display: flex;
    align-items: center;
}

.lglbrc {
    border-top: 1px solid black;
    width: 300px;
}

.lglbr-or {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
}

/* GOOGLE AND FACEBOOK BUTTON */

.lsl {
    margin-top: 20px;
}

.lsl-button {
    width: 300px;
    height: 50px;
    border-radius: 5px 1px;
    margin-right: 50px;

    background-color: #f2f2f2;
    border: 1px solid #1e90ff;

    font-size: 16px;
}

.lsl-button:hover {
    background: #1e90ff;
    color: #f2f2f2;
}
