.package-container {
    margin: 100px;
}

.rowsTitle {
    margin-bottom: 50px;
    text-align: center;
}

.rowsTitle h1 {
    font-size: 70px;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 68, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rowsTitle p {
    margin-top: 50px;
    font-size: 25px;
}

/* rowslist */

.rowsList {
    display: flex;
    justify-content: center;
}

.modul {
    text-align: center;
    margin: 10px;
    width: 400px;
    height: 250px;
}

.modul .logo {
    font-size: 50px;
    color: rgb(73, 19, 199);
    padding-bottom: 20px;
}

.modul .title {
    font-size: 30px;
    padding-bottom: 20px;
}

.modul .comment {
    font-size: 20px;
    padding-bottom: 20px;
}
