/* MAIN  */
.content-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    /* background: linear-gradient(180deg, #fa4b68 0%, #f5536e 100%); */
    /* Created with https://www.css-gradient.com */
    background-image: linear-gradient(to left, #7d2368, #611c48, #251019, #000000, #000000);
    background-blend-mode: screen;
    color: white;
}
/* Created with https://www.css-gradient.com */


.content-container {
}

/** container 1  */

.content-container h2 {
    font-size: 50px;
    justify-content: center;
    margin: 2em;
}
/** container 2 */

.content-list-items {
    list-style: none;
}

.item-text-container {
    margin-bottom: 50px;
}

.item {
    margin-bottom: 50px;
}
.item h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.item p {
    font-size: 20px;
}
