.sectcion {
    margin: 0;
    padding: 0;
}

.companies {
    display: flex;
    justify-content: space-around;

    background-color: #f2f2f2;
    margin: 10px;
}

.company {
    list-style: none;
}

.companyImage img {
    width: 200px;
    height: 100px;
}
