.projects-container {
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-items {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 25px 0 25px;
}

.projects-items img {
    width: 100%;
}
