.projects-sectcion {
}

.projects-companies {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects-company {
    list-style: none;
}

.companyImage img {
    margin: 0 100px 0 100px;
    width: 200px;
    height: 100px;
}
