.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    background: linear-gradient(
        90deg,
        rgb(246, 246, 246) 0%,
        rgb(246, 246, 246) 100%
    );
}

/*          NAVBAR LOGO         */
.navbarLeft {
    margin-left: 10%;
}

/*          NAVBAR MAIN        */

.navbarMain {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMain {
    display: flex;
    justify-content: space-between;
}

.navItem {
    margin: 0 30px;
}

.navItem a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/*              NAVBAR RIGHT             */

.navbarRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    font-size: 18px;
}

.In {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    border-radius: 10px;
    height: 100%;
}
.Up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

    margin-left: 10px;
    border-radius: 10px;
    width: 10rem;
    height: 75%;
}

.Up:hover {
    opacity: 60%;
    transition: 0.5s;
}

.navbarRight div a {
    color: black;
    text-decoration: none;
}
