.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    background: linear-gradient(
        90deg,
        rgb(246, 246, 246) 0%,
        rgb(246, 246, 246) 100%
    );
}

/*          NAVBAR LOGO         */
.navbarLeft {
    margin-left: 10%;
}

/*          NAVBAR MAIN        */

.navbarMain {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMain {
    display: flex;
    justify-content: space-between;
}

.navItem {
    margin: 0 30px;
}

.navItem a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/*              NAVBAR RIGHT             */

.navbarRight {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 20%;
}
.navbarRight div a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 50px;
}
